<div class="g-opacity-25 border border-secondary rounded shadown m-0">
    <h4 class="m-3">{{'DASHBOARD_TEXTOS.CONTAS_BANCARIAS' | translate}}</h4>

    <ngx-charts-gauge
        [view]="view"
        [scheme]="'flame'"
        [showText]="true"
        [showAxis]="true"
        [margin]="[50, 0, 0, 0]"
        [animations]="true"
        [legend]="true"
        [legendTitle]="''"
        [valueFormatting]="formatarValor" 
        [axisTickFormatting]="formatarValorAxios"
        [results]="dados"
        (select)="onSelect($event)">
    </ngx-charts-gauge>
</div>      