<div class="modal fade modal-lg" id="modalEstornar" aria-hidden="true" aria-labelledby="modalEstornar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="estornarDespesaLabel">
                    {{ 'ESTORNAR' | translate}} {{ 'DESPESA' | translate}}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" (ngSubmit)="estornar();" #formEstornarDespesa="ngForm">
                    <div class="col-12">
                        <h5>{{'TEXTOS_MODAL.ESTORNAR_CONFIRMACAO' | translate}}</h5>
                    </div>
                    <hr/>
                    <div class="col-12">
                        <button class="btn btn-danger p-2 mx-1 rounded-pill" type="submit" data-bs-toggle="modal" data-bs-dismiss="#modalEstornar">
                            <i class="fa-solid fa-rotate-left ms-1"> </i> 
                            {{ 'ESTORNAR' | translate}}
                        </button>
                        <button class="btn btn-secondary p-2 mx-1 rounded-pill" type="button" data-bs-toggle="modal" data-bs-dismiss="#modalEstornar">
                            <i class="fa-solid fa-xmark ms-1"></i>
                            {{ 'CANCELAR' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>