<div class="row d-flex flex-column align-items-center vh-100 m-0 px-3"> 
   
    <app-consultar-conta-bancaria (idEditar)="editarContaBancaria($event)" (idConta)="alterarStatusContaBancaria($event)">
    </app-consultar-conta-bancaria>

    <app-cadastrar-conta-bancaria></app-cadastrar-conta-bancaria>

    <app-editar-conta-bancaria [idEditar]="this.idEditar"></app-editar-conta-bancaria>
    
    <app-alterar-status-conta-bancaria [idConta]="this.idConta"></app-alterar-status-conta-bancaria>
</div>
