<div class="modal fade modal-lg" id="modalPagar" aria-hidden="true" aria-labelledby="modalPagar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pagarDespesaLabel">
                    {{ 'PAGAR' | translate}} {{ 'DESPESA' | translate}}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" (ngSubmit)="pagar();" #formPagarDespesa="ngForm">
                    <mat-form-field class="col-6">
                        <mat-label>{{ 'VALOR' | translate}}</mat-label>
                        <input matInput type="text" mask="separator.2" decimalMarker="," thousandSeparator="." placeholder="100,00" [(ngModel)]="despesa.valorPago" name="pagarValorPago" required>
                    </mat-form-field>

                    <mat-form-field class="col-6" appearance="fill">
                        <mat-label>{{ 'DATA_PAGAMENTO' | translate }}</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="despesa.dataPagamento" name="pagarDataPagamento" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>


                    <mat-form-field appearance="fill" class="col-12">
                        <mat-label>{{'TEXTOS_COMBO.SELECIONE_CONTA_BANCARIA' | translate}}</mat-label>
                        <mat-select [(ngModel)]="despesa.contaBancaria" name="pagarContaBancaria" required>
                            <mat-option *ngFor="let conta of contasBancarias" [value]="conta">
                                {{ conta.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-12">
                        <mat-label>{{'TEXTOS_COMBO.SELECIONE_FORMA_PAGAMENTO' | translate}}</mat-label>
                        <mat-select [(ngModel)]="despesa.formaPagamento" name="pagarFormaPagamento" required>
                            <mat-option *ngFor="let forma of formasPagamentos" [value]="forma.label">
                                {{ 'FORMAS_PAGAMENTO_RECEBIMENTO.' + forma.label?.toUpperCase()  | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <hr/>
                    <div class="col-12">
                        <button class="btn btn-success p-2 mx-1 rounded-pill" type="submit" [disabled]="formPagarDespesa.invalid" data-bs-toggle="modal" data-bs-dismiss="#modalPagar">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            {{ 'PAGAR' | translate}}
                        </button>
                        <button class="btn btn-secondary p-2 mx-1 rounded-pill" type="button" data-bs-toggle="modal" data-bs-dismiss="#modalPagar">
                            <i class="fa-solid fa-xmark ms-1"></i>
                            {{ 'CANCELAR' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>