<div class="g-opacity-25 border border-secondary rounded shadown m-0">
    <h4 class="m-3">{{'DASHBOARD_TEXTOS.FLUXO_CAIXA' | translate}}</h4>

    <ngx-charts-bar-vertical
        *ngIf="isBrowser"
        [view]="view"
        [results]="dados"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true" 
        [showXAxisLabel]="false"
        [tooltipDisabled]="false"
        [showYAxisLabel]="true"
        [rotateXAxisTicks]="false"
        [showGridLines]="false"
        [scrollLeft]="true"
        [roundDomains]="true"
        [roundEdges]="true"
        [wrapTicks]="true"
        [gradient]="true"
        [showDataLabel]="true"
        [animations]="true"
        [legend]="true"
        [legendTitle]="''"
        [dataLabelFormatting]="formatarMoeda"
        [yAxisTickFormatting]="formatarMoeda"
        [barPadding]="20"
        >
    </ngx-charts-bar-vertical>
</div>      