<div class="table-responsive p-3 bg-opacity-25 border border-secondary rounded shadown m-0 scrollable-table">
    <h4 class="mb-3">{{'DASHBOARD_TEXTOS.ULTIMAS_TRANSACOES' | translate}}</h4>
    <table class="table table-dark table-striped table-hover table-bordered rounded-3 overflow-hidden align-middle table-sm" >
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'TIPO'  | translate }}</th>
                <th>{{ 'VALOR' | translate }}</th>
                <th>{{ 'DATA_TRANSACAO' | translate }}</th>
                <th>{{ 'CONTA_BANCARIA' | translate }}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let item of transacoes">
                <td>{{item.id}}</td>
                <td>
                    <span class="badge rounded-pill p-2 my-1" 
                        ngClass="{{item.tipoTransacao  === 'Despesa' ? 'bg-danger' :
                                item.tipoTransacao  === 'Receita' ? 'bg-success' : 'bg-info'}}">
                        {{item.tipoTransacao?.toUpperCase() ?? '' | translate}}
                    </span>
                </td>
                <td>{{item.valor}}</td>
                <td>{{item.dataTransacao}}</td>
                <td>{{item.contaBancaria}}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>