<div class="row d-flex flex-column align-items-center vh-100 m-0 px-3"> 
   
    <app-consultar-despesa (idEditar)="editarDespesa($event)" (idDeletar)="deletarDespesa($event)"
        (idPagar)="pagarDespesa($event)" (idEstornar)="estornarDespesa($event)">
    </app-consultar-despesa>

    <app-cadastrar-despesa></app-cadastrar-despesa>

    <app-deletar-despesa [idDeletar]="this.idDeletar"></app-deletar-despesa>

    <app-editar-despesa [idEditar]="this.idEditar"></app-editar-despesa>

    <app-pagar-despesa [idPagar]="this.idPagar"></app-pagar-despesa>

    <app-estornar-despesa [idEstornar]="this.idEstornar"></app-estornar-despesa>
</div>
