<div class="row  d-flex vh-100 m-0 p-2"> 
    <div class="col-4 my-2">
        <app-dashboard-despesa-categoria></app-dashboard-despesa-categoria>
    </div>
    <div class="col-4 my-2">
        <app-dashboard-receita-categoria></app-dashboard-receita-categoria>
    </div>
    <div class="col-4 my-2">
        <app-dashboard-fluxo-caixa></app-dashboard-fluxo-caixa>
    </div>
    <div class="col-6 my-2">
        <app-dashboard-conta-bancaria></app-dashboard-conta-bancaria>
    </div> 
    <div class="col-6 my-2">
        <app-dashboard-transacoes></app-dashboard-transacoes>
    </div>
</div>        