/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-degrade-left{
    background: linear-gradient(to left, rgb(255, 115, 0), purple); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-degrade-rigth{
    background: linear-gradient(to right, rgb(255, 115, 0), purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-degrade-bottom{
    background: linear-gradient(to bottom, rgb(255, 115, 0), purple); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-degrade-top{
    background: linear-gradient(to top, rgb(255, 115, 0), purple); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-theme {
    background-color: #ffffff;
    color: #000000 !important;

    a {
        color: #000000 !important;
    }

    table {
        --bs-table-color: #000;
        --bs-table-bg: #f8f9fa;
        --bs-table-border-color: #dfe0e1;
        --bs-table-striped-bg: #ecedee;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #dfe0e1;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e5e6e7;
        --bs-table-hover-color: #000;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }
    
    .dropdown-menu, 
    .modal-content,  
    div .mat-mdc-menu-content,  
    div .mat-mdc-menu-content button span {
        background-color: #ffffff;
        color: #000000 !important;
    }

    div .mat-mdc-menu-content button mat-icon {
        color: #000000 !important;
    }
}
  
.dark-theme {
    background-color: #343a40;
    color: #ffffff !important;
    
    a {
        color: #ffffff !important;
    }

    table {
        --bs-table-color: #fff;
        --bs-table-bg: #212529;
        --bs-table-border-color: #373b3e;
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }

    .dropdown-menu, 
    .modal-content,  
    div .mat-mdc-menu-content,  
    div .mat-mdc-menu-content button span {
        background-color: #343a40;
        color: #ffffff !important;
    }

    
    div .mat-mdc-menu-content button mat-icon {
        color: #ffffff !important;
    }
}

.cdk-overlay-container {
    z-index: 1055 !important;
}

// .bg-degrade{
//     background: linear-gradient(to bottom, rgb(255, 115, 0), rgb(128, 0, 128)); 
// }

.toast-top-center {
    top: 10px !important; /* Altere o valor conforme quiser */
}